<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cac38028-d971-4af7-9793-7212fb33095a" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="8212761c-761d-439a-884b-ff021d27599f">contentBase</Composition>
      <Composition Key="168c06f0-206c-450b-89e5-42c77c239cde">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b75f5772-301d-4893-a3e2-9001610f30c6">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cac38028-d971-4af7-9793-7212fb33095a" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>